*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
}
body{
    background: url(../../Assets/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.container{
    background: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    background: aliceblue;
    height: 300px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error{
    color: orangered;
    position: absolute;
    left: 135px;
    transform: scale(5);
}
.field{
    position: relative;
}
.content{
    margin-top: 100px;
}